body {
  color: #000000;
  font-size: 14px;
  background: #ffffff;
  font-family: Verdana, sans-serif
  margin: 0px;
  padding: 0px;
}
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}
#container {
  width: 320px;
  margin: 0px auto 0px;
  padding: 0px;
}

.logo-container {
  margin: 0px auto 40px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #17a554;
}
h1 {
  color: #ffffff;
}
p {
  color: #4b4b4b;
}
hr {
  padding: 0px;
  margin-bottom: 2px;
}
iframe {
  width: 100%;
}
.title {
  color: #ffffff;
  width: 160px;
  padding: 5px;
  background: #17a554;
  font-size: 13px;
  text-align: center;
  margin: 20px auto 20px;
  border-radius: 5%;
}
.title a {
  letter-spacing: 1.2px;
  color: #ffffff;
}

/* Game list contained */
.game-container {
  margin: 10px auto 10px;
  padding: 20px auto 20px;
}

.game-list {
  width: 100%;
  display: inline-block;
  margin: 5px auto 30px;
}

.game-img {
  border-radius: 8%;
  margin-right: 10px; 
  border: 1px #000000 solid;
}

.game-heading {
  color: #17a554;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 4px;
  text-transform: uppercase;
}
.playstore_download {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer {
  padding: 10px;
  color: #ffffff;
  background: #000000;
  font-size: 13px;
  margin: 0px;
  text-align: center;
}