---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

<body>

<div id="container">
  
  <div class="logo-container">
    <a href="/"><img src="/assets/images/logo.png" width="200px" alt="Burja Studios" /></a>
  </div>

  <div class="menu">
	<ul class="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/privacy-policy/">Privacy Policy</a></li>
	</ul>
</div>

  
  {{ content }}

  {%- include footer.html -%}

</div>

</body>
</html>
