---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="title" itemprop="name headline">{{ page.app_name | escape }}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

{% if page.playstore_url %}
<div class="playstore_download">
  <a href="{{ page.playstore_url }}">
    <img src="/assets/images/google_play_download.png" width="200px" /> 
  </a>
</div>
{% endif %}

</article>